CREATE TABLE public.items
(
    id         bigint                                 NOT NULL,
    active     boolean                                NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    name       character varying(255)                 NOT NULL,
    price      numeric(12, 2)                         NOT NULL,
    sku        character varying(64)                  NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    version    bigint
);

ALTER TABLE public.items
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.items_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );


CREATE TABLE public.order_items
(
    id         bigint                                 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    quantity   integer                                NOT NULL,
    unit_price numeric(12, 2)                         NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    version    bigint,
    item_id    bigint                                 NOT NULL,
    order_id   bigint                                 NOT NULL
);

ALTER TABLE public.order_items
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.order_items_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );

CREATE TABLE public.orders
(
    id           bigint                                 NOT NULL,
    canceled_at  timestamp(6) with time zone,
    created_at   timestamp with time zone DEFAULT now() NOT NULL,
    delivered_at timestamp(6) with time zone,
    expires_at   timestamp(6) with time zone,
    paid_at      timestamp(6) with time zone,
    status       character varying(32)                  NOT NULL,
    total_amount numeric(12, 2)                         NOT NULL,
    updated_at   timestamp with time zone DEFAULT now() NOT NULL,
    version      bigint,
    user_id      bigint                                 NOT NULL,
    CONSTRAINT orders_status_check CHECK (((status)::text = ANY
                                           ((ARRAY ['CREATED'::character varying, 'RESERVED'::character varying, 'PAYMENT_PENDING'::character varying, 'PAID'::character varying, 'SHIPMENT_REQUESTED'::character varying, 'SHIPMENT_ACCEPTED'::character varying, 'PICKED_UP'::character varying, 'IN_TRANSIT'::character varying, 'DELIVERED'::character varying, 'DELIVERY_LOST'::character varying, 'CANCELED_TIMEOUT'::character varying, 'CANCELED_BY_USER'::character varying, 'PAYMENT_FAILED'::character varying, 'FAILED'::character varying])::text[])))
);

ALTER TABLE public.orders
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.orders_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );

CREATE TABLE public.outbox_events
(
    id              bigint                      NOT NULL,
    aggregate_id    bigint                      NOT NULL,
    aggregate_type  character varying(64)       NOT NULL,
    created_at      timestamp(6) with time zone NOT NULL,
    event_type      character varying(64)       NOT NULL,
    idempotency_key character varying(128)      NOT NULL,
    next_retry_at   timestamp(6) with time zone,
    payload         jsonb                       NOT NULL,
    retry_count     integer                     NOT NULL,
    status          character varying(24)       NOT NULL,
    updated_at      timestamp(6) with time zone NOT NULL,
    version         bigint,
    CONSTRAINT outbox_events_status_check CHECK (((status)::text = ANY
                                                  ((ARRAY ['PENDING'::character varying, 'SENT'::character varying, 'FAILED'::character varying])::text[])))
);

ALTER TABLE public.outbox_events
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.outbox_events_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );

CREATE TABLE public.reservations
(
    id           bigint                                 NOT NULL,
    created_at   timestamp with time zone DEFAULT now() NOT NULL,
    expires_at   timestamp(6) with time zone            NOT NULL,
    qty          integer                                NOT NULL,
    status       character varying(24)                  NOT NULL,
    updated_at   timestamp with time zone DEFAULT now() NOT NULL,
    version      bigint,
    item_id      bigint                                 NOT NULL,
    order_id     bigint                                 NOT NULL,
    warehouse_id bigint                                 NOT NULL,
    CONSTRAINT reservations_status_check CHECK (((status)::text = ANY
                                                 ((ARRAY ['RESERVED'::character varying, 'CONFIRMED'::character varying, 'RELEASED'::character varying, 'EXPIRED'::character varying])::text[])))
);

ALTER TABLE public.reservations
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.reservations_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );

CREATE TABLE public.users
(
    id        bigint                 NOT NULL,
    activated boolean                NOT NULL,
    email     character varying(255) NOT NULL,
    password  character varying(255) NOT NULL,
    type      character varying(32)  NOT NULL,
    username  character varying(255) NOT NULL,
    version   bigint,
    CONSTRAINT users_type_check CHECK (((type)::text = ANY
                                        ((ARRAY ['USER'::character varying, 'ADMIN'::character varying])::text[])))
);

ALTER TABLE public.users
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.users_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );

CREATE TABLE public.warehouse_stock
(
    id           bigint                                 NOT NULL,
    created_at   timestamp with time zone DEFAULT now() NOT NULL,
    deducted_qty integer                                NOT NULL,
    reserved_qty integer                                NOT NULL,
    total_qty    integer                                NOT NULL,
    updated_at   timestamp with time zone DEFAULT now() NOT NULL,
    version      bigint,
    item_id      bigint                                 NOT NULL,
    warehouse_id bigint                                 NOT NULL
);

ALTER TABLE public.warehouse_stock
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.warehouse_stock_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );

CREATE TABLE public.warehouses
(
    id         bigint                                 NOT NULL,
    address    character varying(255)                 NOT NULL,
    code       character varying(64)                  NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    name       character varying(255)                 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    version    bigint
);

ALTER TABLE public.warehouses
    ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME public.warehouses_id_seq
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1
        );

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);

ALTER TABLE ONLY public.outbox_events
    ADD CONSTRAINT outbox_events_pkey PRIMARY KEY (id);

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);

ALTER TABLE ONLY public.items
    ADD CONSTRAINT uk_items_sku UNIQUE (sku);

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT uk_order_items_order_item UNIQUE (order_id, item_id);

ALTER TABLE ONLY public.outbox_events
    ADD CONSTRAINT uk_outbox_idempotency UNIQUE (idempotency_key);

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT uk_reservations_order_item_wh UNIQUE (order_id, item_id, warehouse_id);

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk_users_email UNIQUE (email);


ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT uk_warehouses_code UNIQUE (code);


ALTER TABLE ONLY public.warehouse_stock
    ADD CONSTRAINT uk_wh_stock_wh_item UNIQUE (warehouse_id, item_id);

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);

ALTER TABLE ONLY public.warehouse_stock
    ADD CONSTRAINT warehouse_stock_pkey PRIMARY KEY (id);

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);

CREATE INDEX idx_items_active ON public.items USING btree (active);


CREATE INDEX idx_order_items_order ON public.order_items USING btree (order_id);


CREATE INDEX idx_orders_status_created_at ON public.orders USING btree (status, created_at);



CREATE INDEX idx_orders_user_id ON public.orders USING btree (user_id);


CREATE INDEX idx_outbox_aggregate ON public.outbox_events USING btree (aggregate_type, aggregate_id);


CREATE INDEX idx_outbox_status_next ON public.outbox_events USING btree (status, next_retry_at);



CREATE INDEX idx_reservations_expires ON public.reservations USING btree (expires_at);



CREATE INDEX idx_reservations_status ON public.reservations USING btree (status);


CREATE INDEX idx_warehouses_address ON public.warehouses USING btree (address);



CREATE INDEX idx_wh_stock_item ON public.warehouse_stock USING btree (item_id);



CREATE INDEX idx_wh_stock_wh ON public.warehouse_stock USING btree (warehouse_id);

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_items_item FOREIGN KEY (item_id) REFERENCES public.items (id);



ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_items_order FOREIGN KEY (order_id) REFERENCES public.orders (id);



ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_user FOREIGN KEY (user_id) REFERENCES public.users (id);

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT fk_reservations_item FOREIGN KEY (item_id) REFERENCES public.items (id);


ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT fk_reservations_order FOREIGN KEY (order_id) REFERENCES public.orders (id);


ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT fk_reservations_warehouse FOREIGN KEY (warehouse_id) REFERENCES public.warehouses (id);



ALTER TABLE ONLY public.warehouse_stock
    ADD CONSTRAINT fk_wh_stock_item FOREIGN KEY (item_id) REFERENCES public.items (id);


ALTER TABLE ONLY public.warehouse_stock
    ADD CONSTRAINT fk_wh_stock_warehouse FOREIGN KEY (warehouse_id) REFERENCES public.warehouses (id);

